.card-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-main-title1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #272D37;
}

.card-main-title2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
}


.card-main-time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.card-main-when{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #272D37;
    width: 40%;
}

.card-main-start-time{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #272D37;
    width: 20%;
}

.card-main-time-left{
    font-family: 'Inter';
    font-style: normal;
    width: 25%;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #437EF7;
}

.card-main-button1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 70px;
    height: 30px;
    background: #437ef7;
    border-color: #ffffff;
    box-shadow: 0px 1px 2px #ffffff;
    border-radius: 6px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
    color: #ffffff;
}